.bg-primary{
    background : #477091;
}
.mt20{
margin-top:20px;
}
.container-custom{
width :90%;
margin: auto;
}
/*
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}*/